@font-face {
  font-family: 'Kaisei Decol';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bMrwmSqP45sidWf3QmfFW6iCXFsL-e85d47ba.ttf') format('truetype');
}
@font-face {
  font-family: 'Kaisei Decol';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/bMrvmSqP45sidWf3QmfFW6iKr3gb1EK7-2acd7138.ttf') format('truetype');
}
@font-face {
  font-family: 'Kaisei Decol';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/bMrvmSqP45sidWf3QmfFW6iK534b1EK7-182ece7f.ttf') format('truetype');
}
